/* AppBody.css */
.app-body {
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .text-container label{
    font-size: 1.5rem;
    color: #333;
    line-height: 1.5;
  }
  
  .text-container p {
    font-size: 1.5rem; /* Increase font size */
    font-weight: bold; /* Make it bold */
    color: #ff5733; /* Choose a color that stands out */
    margin-top: 10px; /* Add some space below the textarea */
  }
  